@{
    ViewData["Title"] = "Grupo Bimbo - Demo Live Events";
}

<div class="text-center" style="text-align: center">
    <h1 class="display-4">Demo Live Events</h1>
    
    <div style=" font-style:">
        Seleccione la fuente de su preferencia:
        <select name="origins" id="cbxorigins" onchange="checkLanguage()">
            <option value="original">Original</option>
            <option value="esp">Español</option>
            <option value="eng">English</option>
        </select>
        <br />
        <br />
    </div>
    <div style="text-align: center">

        <video id="vid1" class="azuremediaplayer amp-default-skin" style="width:100%; margin:0 auto; text-align:center" autoplay controls>            
            <source id="src1" src="@ViewBag.OriginalSource" type="application/vnd.ms-sstr+xml" />
            <p class="amp-no-js">
                Para ver este video por favor habilite JavaScript y considere actualizar su navergador web, para soporte video con HTML 5
            </p>
        </video>


    </div>
    <label id="languageSelected">Original</label>
</div>
<script>
    var myPlayer = amp('vid1', { /* Options */
        techOrder: ["azureHtml5JS", "flashSS", "html5FairPlayHLS", "silverlightSS", "html5"],
        "nativeControlsForTouch": false,
        autoplay: true,
        controls: true,
        width: "800",
        height: "600",
        poster: ""
    }, function () {
        console.log('Good to go!');
        // add an event listener
        this.addEventListener('ended', function () {
            console.log('Finished!');
        });
    }
    );
    myPlayer.src([{
        src:"@ViewBag.OriginalSource",
        type: "application/vnd.ms-sstr+xml"
    }]);

    function checkLanguage() {
        var checkbox = document.getElementById('cbxorigins');
        var valuecbx = checkbox.value;
        var url = "";
        var language = "";
        switch (valuecbx) {
            case "esp":
                url = "@ViewBag.SpanishSource";
                language = "Español";
                break;
            case "eng":
                url = "@ViewBag.EnglishSource";
                language = "English";
                break;
            default:
                url = "@ViewBag.OriginalSource";
                language = "Original";
                break;
        }

        myPlayer.src([{
            src: url,
            type: "application/vnd.ms-sstr+xml"
        }]);

        myPlayer.load();
        myPlayer.play();
        document.getElementById('languageSelected').innerHTML = language;
        //alert(language);


    }
</script>
